<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title><%= @title || Blog.title %></title>
	<link href="/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="/"><%= Blog.title %></a></h1>
		<p><%= Blog.subtitle %></p>
	</div>
</div>

<div id="content">
	<%= yield %>
</div>

<div id="footer">
  <div class="inner">
    <div class="column">
      <h1>About</h1>
      <ul>
        <li><a href="http://twitter.com/cyx">Twitter</a></li>
        <li><a href="http://github.com/cyx">GitHub</a></li>
        <li><a href="http://friendfeed.com/cyx">Friend Feed</a></li>
        <li><a href="http://facebook.com/cyx.david">Facebook</a></li>
        <li><a href="http://www.google.com/profiles/cyx.ucron">Google Profile</a></li>
        <li style="display: none"><a href="/resume">Resume</a></li>
    </div>
    
    <div class="column">
      <h1>Projects</h1>
      
      <ul>
        <li><a href="http://github.com/cyx/orchestra">Orchestra</a></li>
        <li><a href="http://github.com/cyx/scraper">Scraper</a></li>
        <li><a href="http://github.com/cyx/twitter_fu">TwitterFu</a></li>
        <li><a href="http://github.com/cyx/ip_to_country">IpToCountry</a></li>
        <li><a href="http://github.com/cyx/osx_strings_file_parser">OSX Strings File Parser</a></li>
      </ul>
    </div>
    
    <div class="column">
      <h1>Useful Forks</h1>
      <ul>
        <li><a href="http://github.com/cyx/blackbook">Blackbook</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
