body {
	margin: 0px;
	padding: 0px;
	background: #F9F9F4;
	text-align: center;
	font:  normal normal 18px/23px Georgia, 'Times New Roman', Times, serif;
	color: #000;
}

h1, h2, h3 {
	color: #000;
	text-align: left;
}

p, ol, ul {
	line-height: 1.67em;
}

ul {
	padding-left: 1.2em;
}

a {
	color: #F00;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

/* Logo */

#logo h1 {
	margin: 0;
	padding: 40px 0 0 0px;
	text-transform: lowercase;
	color: #F00;
	font: 28px/28px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 3px;
	text-align: center;
}

#logo h1 a {
	display: block;
	text-decoration: none;
	color: #F00;
}

#logo p {
	margin: 0px 0 0 2px;
	text-transform: lowercase;
	font-style: italic;
	text-align: center;
	color: #8A877D;
}

#logo a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

#logo2 h1 {
	margin: 0;
	height: 130px;
	padding: 40px 0 0 0px;
	text-transform: lowercase;
	letter-spacing: -2px;
	color: #636363;
}

#logo2 h1 a {
	display: block;
	text-decoration: none;
	color: #636363;
}

#logo2 p {
	margin: -103px 0 0 2px;
	text-transform: uppercase;
}

#logo2 a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

#header {
  width: 50em;
  margin: 0px auto;
  text-align: left;
}

/* Content */

#content {
	margin: 0px auto;
	padding: 20px 0 0 0;
	width: 50em;
	margin-bottom: 10px;
	text-align: justify;
}

/* Post */

.post {
	margin-top: 20px;
}

.post .date {
	float: left;
	width: 29px;
	height: 32px;
	margin: 0;
	margin-top: 3px;
	margin-right: 20px;
	padding-top: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #999999;
}

.post .date b {
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -5px;
	color: #5C5C5C;
	
}

.post .title {
	margin: 0;
	padding: 0px 0 0 0;
	margin-left: 40px;
	padding-left: 10px;
	font: normal normal normal 48px/48px Georgia, 'Times New Roman', Times, serif;
}

.post .title a {
	color: #000;
	text-decoration: none;
}

.post .meta {
	margin: 10px 0 10px 50px;
	padding: 0;
	line-height:normal;
	text-transform: lowercase;
	color: #8A877D;
	font: normal normal normal 28px/23px Georgia, 'Times New Roman', Times, serif;
}

.post .meta a {
	color: #8A877D;
}

.post .entry {
	margin: 0;
	padding: 0 0 20px 50px;
}

#older_posts {
}

#new_post {
	position: absolute;
	top: 1em;
	right: 1em;
}

/* Post */

.postzoom {
	margin-top: 20px;
	position: relative;
}

.postzoom .title {
	margin: 0;
	padding: 0px 0 0 0;
	font: normal normal normal 48px/48px Georgia, 'Times New Roman', Times, serif;
}

.postzoom .meta {
	margin: 0;
	padding: 0;
	line-height: normal;
	text-transform: lowercase;
	color: #8A877D;
	font: normal normal normal 28px/28px Georgia, 'Times New Roman', Times, serif;
}

.postzoom .meta a {
  color: #8A877D;
}

.postzoom .entry {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 20px;
}

.postzoom .edit {
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
}

/* Footer */

#footer {
	color: #FFFFFF;
	background-color: #2A211B;
	width: 100%;
	height: 300px;
	text-align: center;
	min-height: 500px;
	_height: 500px;
}

#footer .inner {
  margin: 0 auto;
  padding-top: 2em;
  width: 50em;
  text-align: left;
}

#footer .column { 
  float:left; 
  width: 16.5em;
}

#footer h1 {
  color: #C5AF75;
  font-size: 20px;
}

#footer a {
  color: #BAAE9E;
}

.copyright {
	clear: both;
	margin: 0;
	padding: 10px 0;
	color: #666666;
	text-align: left;
}

/* Archive */
.archive .date {
	color: #828170;
}

.archive .title a {
	text-decoration: none;
	color: #F00;
}

/* Code blocks */

pre {
	font-family: Monaco, monospace;
	color: #ccc;
	background: #2A211B;
	border-left: 6px solid #222;
	padding: 0.4em;
	padding-left: 0.8em;
}

pre span.attribute { color: #009900; }
pre span.char { color: #F00; }
pre span.class { color: #937121; font-weight: bold; }
pre span.comment { color: #0000FF; }
pre span.constant { color: #9B5C2E; }
pre span.escape { color: #6A5ACD; }
pre span.expr { color: #2222CC; }
pre span.global { color: #11AA44; }
pre span.ident { color: #DAD085; }
pre span.keyword { color: #52A3EA; font-weight: bold; }
pre span.method { color: #008B8B; }
pre span.module { color: #937121; font-weight: bold; }
pre span.number { color: #DD00DD; }
pre span.punct { color: #9B5C2E; }
pre span.regex { color: #DD00DD; }
pre span.string { color: #DD00DD; }
pre span.symbol { color: #CF6A4C; }

/* Edit post */

form[name=edit] input[name=title] {
	font-size: 100%;
	width: 300pt;
}
form[name=edit] input[name=tags] {
	font-size: 100%;
	width: 300pt;
}
form[name=edit] textarea {
	font-size: 100%;
	width: 50em;
	height: 25em;
}

